@import "reset";


/* VARIABLES */

$dark: #1C1F26;
$light: #B4C5CE;

$background: #2A5D76;

$warning: #7ABA57;



/* Styles */

body {
	background-color: $dark;
	background-image: url(/assets/img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	// background: #2A5D76;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	padding-bottom: 20px;
}

section {
	max-width: 600px;
	margin: 0 auto;
}

.block {
	margin: 140px 80px;
	background-color: rgba(#DEECF9, 0.8);
	padding: 10px;
	border-radius: 3px;
}


.hero {
	padding: 30px;
}

.dotted-wrapper {
	border: 2px dashed #BBC3C6;
	padding: 20px;
}

.submit-your {
	font-family: georgia;
	color: darken($dark, 5%);
	color: #463E35;
	font-weight: 300;
	font-size: 32px;
	margin: 5px 0;
}

.first-world {
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 10px;
	color: $dark;
	color: #463E35;
	margin-left: 9px;
}

.problem {
	font-family: georgia;
	color: darken($dark, 3%);
	color: #463E35;
	font-size: 40px;
	margin: 5px 0;
	font-weight: bold;
}

h1 {
	color: $warning;
	text-transform: uppercase;
	text-align: center;
}

textarea {
	width: 100%;
	border-radius: 3px;
	border: 1px solid lighten(#393D3E, 10%);
	background-color: #463E35;
	padding: 10px;
	color: white;
	margin-bottom: 10px;
	&:focus {
		outline: none;
	}
}


.button {
	text-align: center;
	border-radius: 2px;	
	background: #76b852;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#87c168),color-stop(100%,#76b852));
	background: -webkit-linear-gradient(top,#87c168 0,#76b852 100%);
	background: -ms-linear-gradient(top,#87c168 0,#76b852 100%);
	background: linear-gradient(top,#87c168 0,#76b852 100%);
	border: 1px solid #63a042;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.14),inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.14),inset 0 1px 0 rgba(255,255,255,0.2);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);
	text-decoration: none;
	display: block;
	padding: 15px 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	&:hover {
		background: #84bf64;
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#93c776),color-stop(100%,#76b852));
		background: -webkit-linear-gradient(top,#93c776 0,#84bf64 100%);
		background: -ms-linear-gradient(top,#93c776 0,#84bf64 100%);
		background: linear-gradient(top,#93c776 0,#84bf64 100%);
		border: 1px solid #63a042;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);
		box-shadow: 0 1px 1px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}
}


.center {
	text-align: center;
}
.since-you-clicked-this {
	line-height: 1;
	color: #463E35;
	font-weight: bold;
	background-color: #CC6666;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 3px 3px 0 0;
	color: white;
	font-size: 14px;
	margin-top: 20px;
}


.submitted-quote {
	font-size: 24px;
}

.block-submitted {
	margin: 30px 0 0 0;
	background-color: #DEECF9;
	padding: 10px;
	border-radius: 3px;
}



.block-card {
	width: 32.8%;
	display: inline-block;
	background-color: #DEECF9;
	border-radius: 3px;
	overflow: hidden;
	color: #262b2e;
	text-align: center;
	vertical-align: top;
}

.card-intro {
	padding: 10px 0 35px 0;
	font-size: 12px;
	line-height: 1.5;
	font-size: 14px;
	line-height: 1.5;
	color: #f4f4f4;
	font-weight: bold;
}

.card-insult {
	padding: 20px 0;
	font-size: 12px;
	line-height: 1.5;
	font-size: 12px;
	line-height: 1.5;
	font-weight: bold;
	color: #262b2e;
}


.card-counter {
	text-align: center;
	border-radius: 100%;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	padding: 17px 17px;
	margin-top: -34px;
	color: white;
}

.block-card-first {
	
	.card-intro {
		background-color: #e9b35e;
		border: 1px solid darken(#e9b35e, 5%);
		border-bottom: none;
	}
	.card-counter {
		background-color: #e9b35e;
		border: 1px solid darken(#e9b35e, 5%);
		border-bottom: none;	
	}
}
.block-card-second {
	.card-intro {
		background-color: #a56fbb;
		border: 1px solid darken(#a56fbb, 8%);
		border-bottom: none;
	}	
	.card-counter {
		background-color: #a56fbb;
		border: 1px solid darken(#a56fbb, 5%);
		border-bottom: none;	
	}
}
.block-card-third {
	.card-intro {
		background-color: #5999c6;
		border: 1px solid darken(#5999c6, 5%);
		border-bottom: none;
	}
	.card-counter {
		background-color: #5999c6;
		border: 1px solid darken(#5999c6, 5%);
		border-bottom: none;	
	}
}

.block-news-headline {
	margin: 0 0 10px 0;
	background-color: #DEECF9;
	h2 {
		text-align: center;
		// padding: 20px 0 0 0;
		color: #F4F4F4;
		font-size: 18px;
		padding: 10px;
		border-radius: 3px 3px 0 0;
		font-weight: bold;
		background-color: #463E35;
	}
	p {
		padding: 20px;	
	}
}


.death-count {
	margin-top: 10px;
	// text-align: center;
	background: #CC6666;
	padding: 5px 20px;
	border-radius: 3px;
	color: white;
	border: 1px solid darken(#CC6666, 10%);
	p {
		width: 25%;
		display: inline-block;
		vertical-align: middle;
	}
	.death-count-number {
		font-size: 80px;
		font-weight: bold;
		margin-left: 10px;
	}
	span {
		font-size: 70px;
		display: block;
		padding: 10px;
		font-weight: bold;
	}
}



.get-a-grip-overlay {
	position: absolute;
	z-index: 1000;
	background-color: darken(#463E35, 16%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	h1 {
		text-align: center;
		font-weight: bold;

	}
	&.visible {
		display: block;
	}
}

.projector-container {	
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -150px;
	h1 {
		color: lighten(#181512, 50%);
		margin: 20px;
	}
	span {
		color: #e82f2f;
	}
	.people-have-died {
		font-size: 60px;
		color: lighten(#181512, 50%);
	}
	.get-a-grip {
		color: #e82f2f;
		font-size: 120px;
	}	
}

